<template>

    <div class="home-page">
  
      <div class="banner">
        <div class="container">
          <h1 class="logo-font">Update Balances</h1>
          <p>Udate balances of the accounts.</p>
        </div>
      </div>

      <div class="container page">

        <div class="container" >
          <table id="mytable" class="table table-bordred table-striped">
                      
            <thead>
              <th>Account Name</th>
              <th>Account Balance</th>
              <th>Month</th>
              <th>Year</th>
              <th>Updated Time</th>
              <th><button class="btn btn-success btn-xs"data-toggle="modal" data-target="#editModal">Add+</button></th>
            </thead>
            <tbody>
                      
              <tr repeat.for="transaction of transactions">
                <td>${transaction.accountName}</td>
                <td>${transaction.amount}</td>
                <td>${transaction.month}</td>
                <td>${transaction.year}</td>
                <td>${transaction.enteredDateTime}</td>
                <!--td><button class="btn  btn-xs" data-toggle="modal" data-target="#editModal" >Edit</button></td-->
                <td><button class="btn btn-danger btn-xs" click.delegate="deleteTransaction(transaction.transactionId)">Delete</button></td>
              </tr>
              <tr>
                <td>                
                  <select value.bind="selectedAccountId">
                    <option repeat.for="account of accountList" model.bind="account.Id">
                        ${account.AccountDisplayName}
                    </option>
                  </select>
                </td>
                <td><input type="number" class="form-control" value.bind="newAmount" placeholder="year "></td>
                <td><button class="btn btn-success btn-xs" click.delegate="addTransaction()">Add+</button></td>
              </tr>
          
            </tbody>
                
          </table>

          <div class="alert alert-success" if.bind="success">
            Your file was uploaded <strong>Successfully!</strong> 
          </div>
          <div class="alert alert-danger" if.bind="fail">
            Your file was <strong>failed</strong> uploading.
          </div>
          <div class="alert alert-info" if.bind="emptyFile">
            Please brawse a file.
          </div>
          <div class="jumbotron">
            <p>Please upload the excel file.</p> 
            <div class="form-group">
              <label for="file">File:</label>
              <input type = "text" value.bind = "fileLocation[0].name" placeholder = "File location" disabled>
              
              <input type="file" files.bind="fileLocation" ref="htmlElement" id="fileToUpload" accept=".xls,.xlsx">
            </div>
            <div class="form-group"></div>
              <button class="btn"  click.delegate = "upload(fileLocation)" >Upload</button>
            </div>
          </div>
        </div>
      </div>
    </div>


  <!-- Modal -->
  <div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Balance</h4>
        </div>
        <div class="modal-body">
            <form class="form-inline">
              <div class="form-group">
                <label class="sr-only" for="accountName">Account Name</label>
                <select value.bind="accountId">
                  <option repeat.for="account of accountList" model.bind="account.id">
                      ${account.accountName}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label class="sr-only" for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd">
              </div>
              <div class="checkbox">
                <label><input type="checkbox"> Remember me</label>
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" click.delegate="addTransaction()">Add</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
  </template>
  


