<template>

    <div class="home-page">
  
      <div class="banner">
        <div class="container">
          <h1 class="logo-font">Yearly Report</h1>
          <p>Select any year you want to view the balance chanage.</p>
        </div>
      </div>
  
      <div class="container page">
        <div class="alert alert-success" if.bind="success">
          Your file was uploaded <strong>Successfully!</strong> 
        </div>
        <div class="alert alert-danger" if.bind="fail">
          Your file was <strong>failed</strong> uploading.
        </div>
        <div class="alert alert-info" if.bind="emptyFile">
          Please brawse a file.
        </div>
        <div class="jumbotron">
          <p>Please upload the excel file.</p> 
          <div class="form-group">
            <label for="file">File:</label>
            <input type = "text" value.bind = "fileLocation" placeholder = "File location">
            <input type="file" value.bind="fileLocation" ref="htmlElement" id="fileToUpload" accept=".xls,.xlsx">
          </div>
          <div class="form-group"></div>
            <button class="btn"  click.delegate = "upload(fileLocation)" >Upload</button>
          </div>
        </div>
      </div>
    </div>
  </template>
  


